<!-- using ejs-mate -->
<% layout("layouts/boilerplate") %>
<body>
    
    <h3>All Listing</h3>
    <!-- <form method="get" action="/listing/new">
        <button>Create new Listing</button>
    </form> -->


    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for(list of alllist){ %>
            <a href="/listing/<%= list._id %>" class="listing-link">
                <div class="card listing-card">
                <img src="<%= list.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                <p class="card-text">
                    <b><%= list.title %></b> <br>
                    &#x20B9;<%= list.price.toLocaleString("en-IN") %> /night
                </p>
                </div>
                </div>
            </a>
        <% } %>
    </div>

  




</body>
